@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3399ff;
  --light-primary: #66ccff;
  --dark-primary: #003366;
  --secondary: #e0e0e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
main#root {
  font-family: "Poppins", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
}

hr {
  height: 1px;
  background-color: rgba(20, 20, 20, 0.865);
}

.content-container {
  width: 100%;
  min-height: calc(100vh - 80px);
}
