@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3399ff;
  --light-primary: #66ccff;
  --dark-primary: #003366;
  --secondary: #e0e0e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
main#root {
  font-family: "Poppins", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
}
